# dependencies
/node_modules
/frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage
/frontend/coverage

# production
/build
/frontend/build

# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo 